:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --accent: #2196f3;
  --black: #000;
  --white: #fff;
  --background: #f5f4fa;
  --hero-bg: #2f303a;
  --social-link: #afb1b8;
  --btn-hover: #188ce8;

  --margin-gap: 30px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
